.nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 216, 255);
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
}

.nav-button {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}