.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
}

.nav-button {
    list-style-type: none;
    
}

.nav-link {
    text-decoration: none;
}